// default.scss

/********************************************************************************
*
*
*
* Variables
*
*
*
********************************************************************************/
$font-stack: 'Roboto', sans-serif;
$special-font: 'Roboto Condensed', sans-serif;
$primary-link-font: 'Roboto Condensed', sans-serif;
$secondary-link-font: 'Roboto', sans-serif;
$primary-color: black;
$header-height: 4em;
$port-gold: gold;
$header-bg-color: #2686bf; //rgba(38, 134, 191, 1); ;

/********************************************************************************
*
*
*
* Mixins
*
*
*
********************************************************************************/
@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

/********************************************************************************
*
* Reset Styles - Base/Mobile
*
********************************************************************************/
html,
body,
ol,
h1,
h2 {
  margin: 0;
  padding: 0;
}

/********************************************************************************
*
* HTML and BODY - Base/Mobile
*
********************************************************************************/
html {
  height: 100%;
} // html
body {
  position: relative;
  font-family: $font-stack;
  color: $primary-color;
  min-height: 100%;
  overflow-y: auto;
} // body
h1 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
  font-size: 40px;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 23px 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 23px 0;
}
a,
:visited,
:link {
  display: inline-block;

  text-decoration: none;
  @include transition(0.4s ease-in-out);
  cursor: pointer;
  font-family: $secondary-link-font;
} // a, visted, link

/********************************************************************************
*
* Header / Navigation - Base/Mobile
*
********************************************************************************/

header {
  align-items: center;
  background-color: $header-bg-color;
  background: linear-gradient(#1a567a, #2b9ee2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: auto;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &.active {
    height: auto;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  } // active
  p {
    display: none;
    img {
      width: auto;
      height: 6em;
    } // img
  } // p
  nav {
    display: inline;
    width: 100%;
    ul {
      width: 100%;
      text-align: center;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        height: 3.5em;
        line-height: 3.5em;
        display: none;
        border-top: 1px solid #555;
        @include transition(5s ease-in-out);

        &#nav-menu-button {
          display: inline-block;
          background-color: $port-gold;
          border-bottom: 1px solid black;
        } // nav-menu-button
        a,
        :visited,
        :link {
          color: white;
          text-decoration: none;
          cursor: pointer;
          font-family: $primary-link-font;
          line-height: 3.5em;
          width: 100%;
          height: 100%;
          &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        } // a, visted, link
        a:hover {
          color: $port-gold;
          @include transition(0.4s ease-in-out);
        } // a:hover
        &.active {
          display: inline-block;
          @include transition(5s ease-in-out);
        } // active
        span {
          position: absolute;
          right: 0;
          z-index: 100;
          width: 20%;
          background-color: $port-gold;
          font-size: 200%;
          a {
            line-height: inherit;
          }
        } // span
      } // li
    } // ul
  } // nav
} // header
#secondNav {
  display: none;
} // secondNav

/********************************************************************************
*
* Main Content - Base/Mobile
*
********************************************************************************/
#wrapper {
  padding-top: $header-height + 4em;
  padding-bottom: 6em;
  section {
    padding: 0 5% 2%;
    article {
      &#landing {
        display: none;
      } // landing
      .form {
        p {
          min-width: 100%;
          padding-bottom: 1em;
        } // p

        input,
        textarea {
          width: 50%;
          border: 1px solid black;
        } // input,textarea
      } // form
    } // article
  } // section
  button {
    background-color: gold;
  } // button
  .errorPannel {
    background-color: red;
  } // errorPanel
  table {
    tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.05);
    } // tr:nth-child(even)
    th,
    td {
      text-align: left;
      width: 20%;
      &:first-child {
        width: 25%;
      } // first-child
    } // th, td
  } // table
} // wrapper
.pageTitleImage {
  text-align: center;
  img {
    width: 100%;
    height: auto;
  } // img
} // pageTitleImage
.airportVideo {
  text-align: center;
  iframe {
    width: 100%;
  } // iframe
} // airportVideo
label {
  min-width: 100%;
} // label

.documentation {
  padding-left: 2em;
}
.documentation-page {
  text-decoration: underline;
}
ul.discussion {
  list-style-type: none;
}
ul.discussion li {
  padding-bottom: 2em;
}
/********************************************************************************
*
*
*
* Mobile Portrait - Media Query
*
*
*
********************************************************************************/
@media only screen and (max-width: 768px) and (min-height: 500px) {
  header {
    height: auto;
    h1 {
    } // h1
    p {
      &.logo {
        padding: 0;
        margin: 0;
      } // logo
      display: block;
      text-align: center;
    } // p
    nav {
      min-height: auto;
      display: inline;
    } // nav
  } // header
  /********************************************************************************
  *
  * Main Content - Mobile Portrait
  *
  ********************************************************************************/
  #wrapper {
    padding-top: $header-height + 12em;
  } // wrapper
}

/********************************************************************************
*
*
*
* Tablet 768px - Media Query
*
*
*
********************************************************************************/
@media only screen and (min-width: 768px) {
}

/********************************************************************************
*
*
*
* Medium Device 993px - Media Query
*
*
*
********************************************************************************/
@media only screen and (min-width: 993px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: $header-height;
    &.active {
      height: $header-height;
      max-height: $header-height;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    } // active
    p {
      width: auto;
      display: block;
      margin: 0;
      padding: 0;
      img {
        padding: 0 1em;
        width: auto;
        height: $header-height;
      } // img
    } // p
    nav {
      position: absolute;
      right: 1em;
      min-height: $header-height;
      width: auto;
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          width: auto;
          padding: 0 0 0 1em;
          margin: 0;
          border: none;
          height: $header-height;
          line-height: $header-height;
          span {
            display: none;
          } // span
          &#nav-menu-button {
            display: none;
          } // nav-menu-button
          div.nav-icon-wrapper {
            display: none;
          } // nav-icon-wrapper
          &.subNav-Mobile {
            display: none;
          } // subNav-Mobile
        } // li
      } // ul
    } // nav
  }
  #secondNav {
    background-color: $port-gold;
    margin-top: $header-height;
    min-height: 1em;
    line-height: 2em;
    max-height: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 5px 30px #222;
    position: fixed;
    top: 0;
    left: 0;
    ul {
      li {
        display: inline-block;
        padding-right: 1em;
        font-size: 0.8em;
        a:link,
        a:visited {
          color: black;
          text-decoration: none;
          font-weight: bold;
          font-family: $secondary-link-font;
        } // a:link, a:visited
        a:hover {
          color: #777;
        } // hover
      } // li
    } // ul
  } // secondNav
  /********************************************************************************
  *
  * Main Content - Medium Device 993px
  *
  ********************************************************************************/
  #wrapper {
    padding-top: $header-height;
    h2 {
      padding-top: 5em;
    } // h2

    section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      article {
        width: 100%;
        &.col-3 {
          width: 25%;
          margin: 0 auto;
          padding: 0 2em;
          h2 {
            margin: 0;
            padding-top: 0;
            font-size: 1.25em;
          } // h2
        } // col-3

        &.col-2 {
          width: 45%;
          margin: 0 auto;
          h2 {
            font-size: 1.25em;
          } // h2
        } // col-2
        &#landing {
          width: 100vw;
          height: 60vh;
          padding: 0;
          margin: 0;
          margin-top: 3em;
          display: inline-block;
          background: url('../img/GB1.jpg') no-repeat bottom;
          background-size: cover;
          img {
            width: 100vw;
            height: auto;
          } // img
        } // landing
        &.contact {
          p:not(first-child) {
            padding: 0;
            margin: 0;
          } // p:not(first-child)
        } // contact
        &.contactForm {
          padding-left: 2em;
          margin: 0;

          p {
            min-width: 100%;
            padding: 0;
            padding-bottom: 0.05em;
          } // p
          input,
          textarea {
            width: 25%;
            border: 1px solid black;
          } // input, textarea
          textarea {
            width: 100%;
            height: 10em;
          } // textarea
        } // contactForm
      } // article
    } // section
    table {
      margin: 2em 0;
      width: 100%;
      tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      } // table
      th,
      td {
        text-align: left;
        padding-right: 15em;
        width: 50%;
        &:first-child {
          width: 35%;
        } // firs-child
      } // th, td
    } // table
  } // wrapper

  &.pageTitleImage {
    text-align: center;
    img {
      width: 50%;
      height: auto;
    }
  }
  .airportVideo {
    text-align: center;
    iframe {
      width: 50%;
    }
  }
} // End device 993 - 1200

/********************************************************************************
*
*
*
* Screen greater than 1201px - Media Query
*
*
*
********************************************************************************/
@media only screen and (min-width: 1201px) {
}

/********************************************************************************
*
*
*
* Footer
*
*
*
********************************************************************************/
footer {
  height: 6em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p {
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin: 0;
  }
  .footer-links {
    width: 100%;
    text-align: center;
  }
  .footer-links li {
    margin: 0;
    padding: 0 2%;
    display: inline-block;
    width: 25%;
  }
}
/********************************************************************************
*
*
*
* Skip Navigation
*
*
*
********************************************************************************/

p.skipnavigation a {
  position: absolute;
  left: -10000px;
}

p.skipnavigation a:focus {
  left: auto;
  right: 1em;
  top: 1em;
  background-color: white;
  color: #000;
  z-index: 100;
}
/********************************************************************************
*
*
*
* Print Styles
*
*
*
********************************************************************************/

@media print {
  article {
    width: 100%;
  }
  article,
  aside,
  body,
  .body,
  .container,
  footer,
  header,
  header h1 {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
  body {
    max-width: 100%;
  }
  nav {
    display: none;
  }
}

@page {
  margin: 0.75in;
}
