// default.scss

@import 'reset';
@import 'config';
@import 'mobile';

/**************** Tablet 768 - 992 px ***********/
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/**************** Medium Device 993 - 1200 px ***********/
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  header {
    nav {
      ul {
        display: inline-block;
        width: 30%;
        li {
          display: inline-block;
          span {
            display: none;
          }
          &#nav-menu-button {
            display: none;
            background-color: red;
          }
          div.nav-icon-wrapper {
            display: none;
          }
        }
      }
    }
  }
}

/**************** Tablet greater than 1201px ***********/
@media only screen and (min-width: 1201px) {
  body {
    background-color: red;
  }
}

/**************** Skip navigation ****************/
footer {
  height: 6em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin: 0;
  }
}
/**************** Skip navigation ****************/

p.skipnavigation a {
  position: absolute;
  left: -10000px;
}

p.skipnavigation a:focus {
  left: auto;
  right: 1em;
  top: 1em;
  background-color: white;
  color: #000;
  z-index: 100;
}
/**************** print styles ****************/

@media print {
  article {
    width: 100%;
  }
  article,
  aside,
  body,
  .body,
  .container,
  footer,
  header,
  header h1 {
    border: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
  }
  body {
    max-width: 100%;
  }
  nav {
    display: none;
  }
}

@page {
  margin: 0.75in;
}
